.loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginSection {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.formLogin > div {
  display: flex;
  flex-direction: column;
}

/* a,
a:visited {
  color: #fff;
} */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border: 1px solid purple;
  border-radius: 0.5rem;
  outline: none;
}

.formLogin label {
  color: purple;
  margin-bottom: 0.25rem;
}

label,
.loginSubmitButton {
  margin-top: 1rem;
}

.loginSubmitButton {
  padding: 0.5rem;
  background-color: purple;
  color: white;
  font-size: 0.825rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: purple;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
