.events {
  overflow: hidden;
}

.events h1 {
  margin-bottom: 0.5rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.cta > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active {
  background-color: purple;
  color: white;
}
