.card {
  width: 350px;
  height: 280px;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cardTitle {
  margin-bottom: 0.25rem;
  color: purple;
}

.textContainer {
  overflow: hidden;
}

.cardDesc {
  margin-bottom: 0.5rem;
}

.cardBtn {
  display: inline-block;
  background-color: purple;
  width: fit-content;
  color: white;
  border-radius: 0.5rem;
  align-self: center;
}

.active {
  background-color: purple;
  color: white;
}
