.card {
  width: 350px;
  height: 250px;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cardImg {
  height: 150px;
  width: 100%;
  background-color: red;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
}

.cardTitle {
  margin-bottom: 0.25rem;
  text-align: start;
  color: purple;
}

.cardDesc {
  margin-bottom: 0.5rem;
  text-align: start;
  font-size: 0.825rem;
}

.cardBtn {
  display: inline-block;
  background-color: purple;
  width: fit-content;
  color: white;
  border-radius: 0.5rem;
  align-self: center;
}

.active {
  background-color: purple;
  color: white;
}
